<p><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><strong>Camping Epi bleu<br /> lieu dit les gravières<br /> 04150 Banon</strong></span></span></p>
<p><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><strong>tel.: 04.92.73.30.30<br /></strong></span></span></p>
<p><br /> <span style="font-size: 14px;"><span style="font-family: verdana,geneva,sans-serif;"><strong>GPS : </strong>- 44 01' 35" N, - 5 37' 52" E</span></span></p>
<p>&nbsp;</p>
<p><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><iframe frameborder="0" height="400" marginheight="0" marginwidth="0" scrolling="no" src="http://maps.google.fr/maps/ms?msa=0&amp;msid=202022596833339546260.0004adc2e8dec977c4c53&amp;hl=fr&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=44.024422,5.635986&amp;spn=3.159833,7.679443&amp;z=7&amp;output=embed" width="700"></iframe></span></span></p>
<p>&nbsp;</p>
<table style="width: 700px;" border="1" cellpadding="1" cellspacing="1">
<thead>
<tr><th scope="col" style="width: 179px;"><strong><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><small>by Train</small></span></span></strong></th><th scope="col" style="width: 178px;"><strong><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><small>by Plane<br /></small></span></span></strong></th><th scope="col" style="width: 325px;"><strong><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><small>by car<br /></small></span></span></strong></th></tr>
</thead>
<tbody>
<tr>
<td style="width: 179px;" valign="top"><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small><strong>Nearest stations</strong><br /> </small></span></span>
<ul>
<li><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small>Manosque: 35Km (TER)</small></span></span></li>
<li><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small>Avignon: 80Km</small></span></span></li>
</ul>
</td>
<td style="width: 178px;" valign="top"><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small><strong>Airports</strong><br /> </small></span></span>
<ul>
<li><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small>Avignon: 80 Km</small></span></span></li>
<li><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small>Marseille: 110 Km</small></span></span></li>
</ul>
</td>
<td style="width: 325px;" valign="top">
<ul>
<li><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small><strong>From the north or the Paris region</strong></small></span></span></li>
</ul>
<span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small><span style="font-size: 10pt;">- A6 then A7 direction Avignon</span><br /><span style="font-size: 10pt;"> - Higway exit Avignon Sud direction APT</span><br /><span style="font-size: 10pt;"> - Cross APT, then take direction Banon</span><br /><span style="font-size: 10pt;"> - After 1Km from the village turn right direction Manosque</span><br /><span style="font-size: 10pt;"> - Camping l'Epi bleu is at 300 meters on your left.</span><br /> <br /> </small></span></span>
<ul>
<li><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small><strong>From the south<br /></strong></small></span></span></li>
</ul>
<p><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><small>- Marseille - Aix en provence via A51, highway exist Manosque<br /> - Enter Manosque and follow direction APT<br /> - At abou 10 Km turn left direction Saint Michel l'observatoire<br /> - Cross the village and follow direction Banon<br /> - After 1 km from the village, turn left direction APT, and follow this direction until camping l'Epi bleu.</small></span></span></p>
<p><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;"><br /></span></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>