<p style="margin-bottom: 0cm; text-align: justify;"><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;">Camping Epi bleu offers 5 bungalows and 3 rapid homes (one with sink and toilet), 3 tents free flower, 6 chalets for 4 people, 6 chalets for 5 people and 2 chalets for 5/6 persons, one of which suitable for people with reduced mobility. We offer also 9 mobile homes for 4 people (21 to 24m2), 11 mobile homes 4/6 people (26 to 29m2), 2 pavillons fully equipped (TV) for 6/7 persons and 2 atypical rentals - robinson lodges on stilts for 4 persons and nature lovers.<br /></span></span></p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<table style="width: 725px;" border="0" cellpadding="2" cellspacing="6">
    <tbody>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="margin-bottom: 0cm; text-align: left;"><span style="font-size: 12pt; font-family: verdana,geneva,sans-serif;">Canvas bungalow, « bengali », «&nbsp;bengali&nbsp;»:&nbsp; 16 m2, 2 rooms, 4-5 persons</span></h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 double room (140*190)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 room with 2 single beds (70*190),</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">totally 3 single beds and 2 bunk beds<span style="color: #000000;"><span lang="fr-FR"></span></span></span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">front garden terrace<br /></span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">This rental does not include bathroom and toilets.</span></span></p>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/bungalow_n.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_bungalow{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="margin-bottom: 0cm; text-align: left;"><span style="font-size: 12pt; font-family: verdana,geneva,sans-serif;">Rapid home: 20 m2, 2 rooms, 4-5 persons</span></h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 double room (140*190)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 room with 2 single beds (70*190)&nbsp;+ a trundle bed (within the rapid-home with sanitary)<br /></span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">totally 3 single beds and 2 bunk beds<span style="color: #000000;"><span lang="fr-FR"></span></span></span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">front garden terrace</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">We have 3 Rapid Homes, one with toilets and sink.</span></span></p>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/rapid_home.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_rapid_home{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;">Flower home: 37 m2, 2 rooms, 5 persons</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">1 double room (140*190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">1 room with 3 single beds (70*190) of which 2 bunk beds</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">A large living room with kitchen opened onto a large terrace<span lang="fr-FR"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">Gas hob with two fires, sink, refrigerator, microwave owen, coffee maker, crockery, table, chairs, reclining chairs, hammock and plenty of storage</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">not equipped water and sanitary</span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/flower-home.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_flower_home{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Mobil-home 21m2 + 9m2 terrace, 2 rooms, 4-5 persons</h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 double room (140*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 room with 2 single beds (70*190)</span><span style="font-family: verdana,geneva,sans-serif;">(70*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">dining area</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">bathroom (washbasin, shower), separated toilets</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">covered terrace of 9 m2, garden saloon, 2 beach chairs</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/mobil_home_t1.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_mh_type1{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Mobil-home 26m2 + 9m2 terrace, 2 rooms, 4-6 persons</h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 double room (140*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 room with 2 single beds (80*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">sofa bed for 2 more persons if necessary</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop,microwave oven)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">dining area</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">bathroom (washbasin, shower), separated toilets</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">covered terrace of 9 m2, garden saloon, 2 beach chairs</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/mobil_home_t2_new.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_mh_type2{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Mobil-home 32m2, 3 rooms, 6 persons</h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 double room (140*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">2 room with 2 single beds (80*190)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">convertible sofa for two more persons</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop, microwave oven)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">dining area</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;" bathroom="bathroom" washbasin="washbasin" shower="shower" separted="separted" toilets="toilets" span="span"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">covered terrace of 9 m2, garden saloon, 2 beach chairs</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/mobil_home_32m2_front.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_mh_32m2{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Chalet 30m2 + covered terrace, 2 rooms, 4 persons</h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 double room (140*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 room with 2 single beds (70*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop, microwave oven)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">dining area</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">bathroom (washbasin, shower), separted toilets</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">covered terrace of 9 m2, garden saloon, 2 beach chairs</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/chalet_type_1.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_chalet_type1{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Chalet 35m incl. 9m2 terrace, 2 rooms, 5 persons</h4>
                        <p>&nbsp;</p>
                        <ul style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; text-align: -webkit-left; list-style-type: square;">
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana, geneva, sans-serif;">1 double room (140*190), 1 room with 2 bunk beds (80*190) and 1 single bed</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana, geneva, sans-serif;">compact kitchen (fridge, dishes, gaz cooktop, microwave oven)<span style="background: none 0% 0% repeat scroll #000000;"><span style="font-family: verdana, geneva, sans-serif;"></span></span></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana, geneva, sans-serif;">dining area<span style="font-family: verdana, geneva, sans-serif;"></span></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana, geneva, sans-serif;">bathroom (washbasin, shower), separated toilets<span style="font-family: verdana, geneva, sans-serif;"></span></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana, geneva, sans-serif;">covered terrace of 9 m2, garden saloon, 2 beach chairs</span></span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/chalet_35m2_5p_s.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_chalet_35m2_5p{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Chalet 35m2 terrace included, 2 rooms, 5-6 persons</h4>
                        <ul style="list-style-type: square;">
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">2 double room (140*190) and 2 bunk beds (80*190)</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop, microwave oven)<span style="color: #000000;"><span lang="fr-FR"><span style="background: none repeat scroll 0% 0% #000000;"></span></span></span></span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">dining area</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">bathroom (washbasin, shower), separated toilets</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">covered terrace of 9 m2, garden saloon, 2 beach chairs</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/chalet_type_3n.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_chalet_type3{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Lodge robinson 32m2 including 10m2 terace, 2 rooms, 4 persons</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">1 double room (140*190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">1 room with 2 single beds (80*190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, gaz cooktop, microwave oven)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">dining area</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; color: rouge; font-family: verdana,geneva,sans-serif;"><strong><span style="font-size: 12pt;">Bathroom (shower) and Toilets</span></strong></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">covered terrace of 9 m2, garden saloon, 2 beach chairs, 2 transats<br /></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif; color: #cf0000;">animals are not authorized</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">in out of season period separate nights booking possibility (3 nights minimum)</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p style="text-align: center;"><span style="color: #ffffff;">Property made of very thick and rigid tilt in exterior. Double wall interior separations.<br /></span></p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right" valign="top">
                        <p>&nbsp;</p>
                        <p>{gallery width=280 height=220}locations/lodge_robinson_side_s.jpg{/gallery}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_lodge_robinson{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <p style="margin-bottom: 0cm;">
            <table cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Pavillon 50m2 with terrace, 3 rooms, 6-7 persons</h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">2 double rooms (140*190)</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 room single bed (90*190)</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">sofa bed for 2 more persons if necessary</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compact kitchen (fridge, dishes, cooktop, microwave oven)</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">dining area</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">bathroom (washbasin, shower), toilets<br /></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">front garden saloon, 2 beach chairs</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;"><strong><span style="font-size: 12pt;">TV</span></strong><br /></span></span></li>
                        </ul>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/gite_new.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_pavillon{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            </p>
        </td>
    </tr>
    <tr>
        <td style="width: 725px; padding: 10px;" colspan="2" align="left">
            <p style="margin-bottom: 0cm;">&nbsp;</p>
            <h4 style="margin-bottom: 0cm; text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;">Inventory:</span></span></h4>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;">Kitchen: </span><span style="font-family: verdana,geneva,sans-serif;"><strong>Cookware</strong></span></span><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><span style="font-size: 10pt;"> &gt; plates (6), soup plates (6) dessert plates (6), cups (6), bowls (6), bowl for salad + (1), flat round hbowl (1), flat oval bowl (1), glasses (8) forks (6), spoons (6), teaspoons (6), knives (6), 14 cm pot (1), 16 cm pot (1), 18 cm pot (1), stove (1), strainer (1) Utensils &gt; ladle (1), skimmer (1), wooden spatula (1), wooden spoon (1), peeler (1), grater (1), corkscrew (1), can opener (1), salad spinner (1)<br /></span></span></span></p>
            <p>&nbsp;</p>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><strong>Houseware</strong>: <span style="font-size: 10pt;">microwave oven (except for 3 first rental types), coffee maker (except bungalow), cutlery box (1), bin (1), hangers (5), drying rack (1),broom (1), squeegee (1), shovel and broom (1), bucket (1), WC set (1), mop (1)</span><br /></span></span></p>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><br /></span></span></p>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;">Exterior equipement: <span style="font-size: 10pt;">table (1), chairs (4 or 6), deckchair (2)</span><br /></span></span></p>
            <h4 style="margin-bottom: 0cm; text-align: left;"></h4>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <p>&nbsp;</p>
            <p style="text-align: center;"><a style="font-size: 18px;" target="_self" href="/fr/tarifs-locations-emplacements">Tarifs Location</a> / <a style="font-size: 18px;" target="_self" href="/en/home/campsite-map">Interactive campsite map </a></p>
        </td>
    </tr>
    </tbody>
</table>