<div style="font-size: 16px; font-family: verdana, geneva, sans-serif; border-style: dashed; border-color: #ffff87; border-width: 2px; padding: 5px;">
    <table>
        <tbody>
        <tr>
            <td style="border-right-style: dashed; border-right-color: #ffff87; border-right-width: 1px;">
                <p><span style="font-size: 10pt;"><strong>offer:</strong></span></p>
                <p><span style="font-size: 10pt;"><strong>couple : 196€</strong></span></p>
                <ul>
                    <li><span style="font-size: 10pt;">from 04/25 to 06/26 and from 08/29 to 09/30</span></li>
                    <li><span style="font-size: 10pt;">(2 persons plan /mobil-home 21m2)</span></li>
                </ul>
            </td>
            <td style="border-right-style: dashed; border-right-color: #ffff87; border-right-width: 1px;">
                <p><span style="font-size: 10pt;"><strong>offer: </strong></span></p>
                <p><span style="font-size: 10pt;"><strong>5=7 : for familly</strong></span></p>
                <ul>
                    <li><span style="font-size: 10pt;">from 04/25 to 06/26 and from 08/29 to 09/30</span></li>
                    <li><span style="font-size: 10pt;">(4 persons plan / mobil-home or chalet)</span></li>
                </ul>
            </td>
            <td>
                <p><span style="font-size: 10pt;"><strong>offer:</strong></span></p>
                <p><span style="font-size: 10pt;"><strong> 6=7 pitch : 2 pers</strong></span></p>
                <ul>
                    <li><span style="font-size: 10pt;">from 04/25 to 07/0S3 and from 08/29 to 09/30</span></li>
                    <li><span style="font-size: 10pt;">(nature or confort plan)</span></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
Offer can not be combined. No cancellation guarantee required.
<p>&nbsp;</p>
<p>&nbsp;</p>