<div style="font-size: 16px; font-family: verdana, geneva, sans-serif; border-style: dashed; border-color: #ffff87; border-width: 2px; padding: 5px;">
    <table>
        <tbody>
        <tr>
            <td style="border-right-style: dashed; border-right-color: #ffff87; border-right-width: 1px;">
                <p><span style="font-size: 10pt;"><strong>aanbieding:</strong></span></p>
                <p><span style="font-size: 10pt;"><strong>voor 2 personen : 196€</strong></span></p>
                <ul>
                    <li><span style="font-size: 10pt;">van 25/04 t/m 26/06 en van 29/08 t/m 30/09</span></li>
                    <li><span style="font-size: 10pt;">(geldig voor 2 personen / stacaravan 21m2)</span></li>
                </ul>
            </td>
            <td style="border-right-style: dashed; border-right-color: #ffff87; border-right-width: 1px;">
                <p><span style="font-size: 10pt;"><strong>aanbieding: </strong></span></p>
                <p><span style="font-size: 10pt;"><strong>5=7 : familie aanbieding</strong></span></p>
                <ul>
                    <li><span style="font-size: 10pt;">van 25/04 t/m 27/06 en van 29/08 t/m 30/09</span></li>
                    <li><span style="font-size: 10pt;">(geldig voor 4 personen / stacaravan of huisje)</span></li>
                </ul>
            </td>
            <td>
                <p><span style="font-size: 10pt;"><strong>aanbieding:</strong></span></p>
                <p><span style="font-size: 10pt;"><strong>6=7 kampeerplaats 2 personen</strong></span></p>
                <ul>
                    <li><span style="font-size: 10pt;">van 25/04 t/m 03/07 en van 29/08 t/m 30/09</span></li>
                    <li><span style="font-size: 10pt;">(geldig voor type nature of confort)</span></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
<p>Aanbiedingen zijn niet cumulatief en zonder annuleringsmogelijkheid</p>
<p>&nbsp;</p>
<p>&nbsp;</p>