<p style="text-align: left;"><span style="font-size: 16px; font-family: verdana,geneva,sans-serif;">Tarieven voor het vakantieseizoen 2015</span></p>
<p style="text-align: left;"><em><br /></em></p>
<p style="text-align: left;"><strong>Verhuur tarieven per week in euro</strong></p>
<p style="text-align: left;"><strong><br /></strong></p>
<table style="width: 740px; height: 293px;" border="0" cellpadding="2" cellspacing="1">
    <tbody>
    <tr>
        <td style="text-align: left; background-color: #463c6e;">
            <p><span style="font-size: 8pt;"><strong>Verhuur tarieven per week / Periode</strong></span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;">
            <p><span style="font-size: 8pt; color: #000000;">25/04-26/06</span></p>
            <p><span style="font-size: 8pt; color: #000000;">29/08-30/09</span></p>
        </td>
        <td style="text-align: center; background-color: #cee8fd;">
            <p><span style="font-size: 8pt; color: #000000;">27/06-03/07</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">04/07</span></p>
            <p><span style="font-size: 8pt;">-</span></p>
            <p><span style="font-size: 8pt;">10/07</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">11/07</span></p>
            <p><span style="font-size: 8pt;"></span><span style="font-size: 8pt; line-height: 1.3;">- </span></p>
            <p><span style="font-size: 8pt; line-height: 1.3;">24/07</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">25/07</span></p>
            <p><span style="font-size: 8pt;">-</span></p>
            <p><span style="font-size: 8pt;">31/07</span></p>
        </td>
        <td style="font-size: 8pt; text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">01/08</span></p>
            <p><span style="font-size: 8pt;">-</span></p>
            <p><span style="font-size: 8pt;">14/08</span></p>
        </td>
        <td style="font-size: 8pt; text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">15/08</span></p>
            <p><span style="font-size: 8pt;">-</span></p>
            <p><span style="font-size: 8pt;">21/08</span></p>
        </td>
        <td style="font-size: 8pt; text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">22/08</span></p>
            <p><span style="font-size: 8pt;">-</span></p>
            <p><span style="font-size: 8pt;">28/08</span></p>
        </td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-locations-firstcolumn"></td>
        <td style="text-align: center; background-color: #cbec9a;" colspan="2">
            <p><span style="font-size: 8pt; color: #000000;">&nbsp; minimaal 1 nacht *</span></p>
            <p>&nbsp;<span style="font-size: 8pt; color: #000000;">Vrije keuze aankomstdag</span></p>
            <p><span style="font-size: 8pt; color: #000000;">7 = 5</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;" colspan="6">
            <p><span style="font-size: 8pt;">&nbsp; &nbsp; &nbsp; Verhuur tarief per week (7 nachten). </span></p>
            <p><span style="font-size: 8pt;">Dag van aankomst/vertrek: zaterdag of zondag</span></p>
        </td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Canvas bungalow tent 16 m2 (2k, 4-5p) ** (1)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">180&nbsp;</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">197</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">259</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">329&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">371</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">399&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">364</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">329</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Rapid home 20 m2 (2k, 4p) **</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">197</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">218</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">294&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">371&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">410&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">455&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">410</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">371</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Rapid home 20 m2 met sanitair (2k, 4-5p) ** (1)</span></p>
            <p><span style="font-size: 8pt;">vermeld tarief is gebaseerd op 4 p.</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">208&nbsp;</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">230</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">308&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">385&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">434&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">469</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">434</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">385</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Free flower 37m2 (3k, 5p) **</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">221</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">249</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">371</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">462</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">511</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">560</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">511</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">462</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Stacaravan 21m2 (2k, 4p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">235</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">266&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">357&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">448</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">497</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">546</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">497&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">448&nbsp;</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt;">Chalet 30m2 (2k, 4p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">260</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">293</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">399&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">490&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">539&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">595</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">539</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">490</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt;">Stacaravan 26m2 (2k, 4-6p) (2)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">294</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">335&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">450&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">560</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">622</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">679</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">623</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">560</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt;">Stacaravan 32m2 (3k, 6p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">385</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">431</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">595&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">714&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">784</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">854</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">784&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">714</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Chalet 35m2 (2k, 5p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">
<p>335</p>
</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">370&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">504&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">623&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">693</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">756</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">693</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">623&nbsp;</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Chalet 35m2 (2k, 5-6p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">
<p>352</p>
</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">380</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">539&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">658&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">728</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">791</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">728&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">658&nbsp;</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Robinson hut: 32m2 (2k, 4p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;">
            <p><span style="color: #000000; font-size: 8pt;">326</span></p>
        </td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">356</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">490&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">609&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">679&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">735&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">679</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">609</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Paviljoen: 50m2 (3k, 6-7p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">375&nbsp;</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">412&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">567&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">700&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">770&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">819&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">770</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">700</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Extra persoon</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">65</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">65</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">49&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">49</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">49</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">49</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">49</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">49</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" class="tab-locations-firstcolumn">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Huisdier ***</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">15</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">15</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">28&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">28&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">28</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">28</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">28</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">28</span></td>
    </tr>
    <tr>
        <td style="background-color: #463c6e;" colspan="9">
            <p style="text-align: center;"><span style="font-size: 8pt;">+ administratie toeslag vanaf 7 nachten, 17€ per plaats of accommodatie</span></p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p style="line-height: 16.6399993896484px; text-align: left;"><strong>Verhuur tarieven per nacht in euro</strong></p>
<p style="line-height: 16.6399993896484px; text-align: left;"><strong><br /></strong></p>
<table border="0" cellpadding="2" cellspacing="1" style="width: 740px; height: 293px;">
    <tbody>
    <tr>
        <td style="background-color: #463c6e;">
            <p><strong>Verhuur tarieven per nacht / Periode</strong></p>
        </td>
        <td style="text-align: center; background-color: #fef271;" colspan="2">
            <p>&nbsp;<span style="font-size: 8pt; color: #000000;">25/04-26/06</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt; color: #000000;">29/08-30/09</span></p>
            <p>&nbsp;</p>
        </td>
        <td style="text-align: center; background-color: #cee8fd;" colspan="2">
            <p><span style="color: #000000; font-size: 8pt;">27/06-03/07</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;">
            <p>&nbsp;<span style="font-size: 8pt;">04/07</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">-</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">10/07</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;">
            <p>&nbsp;<span style="font-size: 8pt;">11/07</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;"><span style="font-size: 8pt; line-height: 1.3;">-</span></span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt; line-height: 1.3;">24/07</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;">
            <p>&nbsp;2<span style="font-size: 8pt;">5/07</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">-</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">31/07</span></p>
        </td>
        <td style="font-size: 8pt; text-align: center; background-color: #463c6e;">
            <p>&nbsp;<span style="font-size: 8pt;">01/08</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">-</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">14/08</span></p>
        </td>
        <td style="font-size: 8pt; text-align: center; background-color: #463c6e;">
            <p>&nbsp;<span style="font-size: 8pt;">15/08</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">-</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">21/08</span></p>
        </td>
        <td style="font-size: 8pt; text-align: center; background-color: #463c6e;">
            <p>&nbsp;<span style="font-size: 8pt;">22/08</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">-</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt;">28/08</span></p>
        </td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="background-color: #463c6e;"></td>
        <td colspan="4" style="text-align: center; background-color: #cbec9a;">
            <p><span style="color: #000000; font-size: 8pt;">&nbsp;&nbsp;minimaal 1 nacht *</span></p>
            <p><span style="color: #000000; font-size: 8pt;">Vrije keuze aankomstdag</span></p>
            <p><span style="color: #000000; font-size: 8pt;">7 = 5</span></p>
        </td>
        <td colspan="6" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">&nbsp; &nbsp;&nbsp;</span>&nbsp;<span style="font-size: 8pt;">Verhuur tarief per week (7 nachten).</span></p>
            <p><span style="font-size: 8pt;">&nbsp;Dag van aankomst/vertrek: zaterdag of zondag</span></p>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="background-color: #463c6e;">
            <p>&nbsp;</p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">1e nacht</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">extra nacht</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">1e nacht</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="color: #000000; font-size: 8pt;">extra nacht</span></td>
        <td style="text-align: center; background-color: #463c6e;" colspan="6"></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Bungalow tent 16 m2 (2k, 4-5p) ** (1)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">40</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">35</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">45</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">38</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">37</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">47</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">53</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">57&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">52</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">47</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Rapid home 20 m2 (2k, 4p) **</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">45</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">38</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">50</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">42</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">42&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">53&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">59&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">65&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">59</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">53</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Rapid home 20 m2 met sanitair (2k, 4-5p) ** (1)</span></p>
            <p><span style="font-size: 8pt;">Vermeld tarief is gebaseerd op 4 p.</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">48</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">40</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">54</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">44</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">44&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">55&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">62&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">67</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">62</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">55</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Free flower 37m2 (3k, 5p) **</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">51</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">43</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">59</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">48</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">53</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">66</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">73</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">80</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">73</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">66</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Stacaravan 21m2 (2k, 4p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">55</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">45</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">62&nbsp;</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">51</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">51&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">64</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">71</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">78</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">71&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">64&nbsp;</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">Chalet 30m2 (2k, 4p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">60</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">50</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">69</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">56</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">57&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">70&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">77&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">85</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">77</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">70</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">Stacaravan 26m2 (2k, 4-6p) (2)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">70</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">56</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">75&nbsp;</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">65</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">64&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">80</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">89</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">97</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">89&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">80</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">Stacaravan 32m2 (3k, 6p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">85</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">75</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">95</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">84</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">85&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">102&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">112</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">122</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">112&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">102</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Chalet 35m2 (2k, 5p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">
<p>75</p>
</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">
<p>65</p>
</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">82&nbsp;</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">72</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">72&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">89&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">99</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">108</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">99</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">89&nbsp;</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Chalet 35m2 (2k, 5-6p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">
<p>80</p>
</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">
<p>68</p>
</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">84</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">74</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">77&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">94&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">104</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">113</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">104&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">94&nbsp;</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Robinson hut: 32m2 (2k, 4p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;">
            <p><span style="font-size: 8pt; color: #000000;">74</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;">
            <p><span style="font-size: 8pt; color: #000000;">63</span></p>
        </td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">80</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">69</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">70&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">87&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">97&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">105&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">97</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">87</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Paviljoen: 50m2 (3k, 6-7p)</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">83&nbsp;</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">73</span></td>
        <td style="text-align: center; background-color: #cee8fd;">92</td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">80</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">81&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">100&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">110&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">117&nbsp;</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">110</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt;">100</span></td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p>Extra persoon</p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="color: #000000; font-size: 8pt;">13</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">13</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">13</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">13</span></td>
        <td style="text-align: center; background-color: #463c6e;">7</td>
        <td style="text-align: center; background-color: #463c6e;">7</td>
        <td style="text-align: center; background-color: #463c6e;">7</td>
        <td style="text-align: center; background-color: #463c6e;">7</td>
        <td style="text-align: center; background-color: #463c6e;">7</td>
        <td style="text-align: center; background-color: #463c6e;">7</td>
    </tr>
    <tr>
        <td class="tab-locations-firstcolumn" style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt; line-height: 1.3; text-align: center;">Huisdier ***</span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">3</span></td>
        <td style="text-align: center; background-color: #fef271;"><span style="font-size: 8pt; color: #000000;">3</span></td>
        <td style="text-align: center; background-color: #cee8fd;"><span style="font-size: 8pt; color: #000000;">3</span></td>
        <td style="text-align: center; background-color: #cee8fd;">3</td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="font-size: 8pt;">4</span><span style="font-size: 8pt; line-height: 1.3;">&nbsp;</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;">4</td>
        <td style="text-align: center; background-color: #463c6e;">4</td>
        <td style="text-align: center; background-color: #463c6e;">4</td>
        <td style="text-align: center; background-color: #463c6e;">4</td>
        <td style="text-align: center; background-color: #463c6e;">4</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p style="text-align: left;">* Behalve tijdens het weekend van hemelvaart van 14 tot 17 mei: minimaal 3 nachten en minimaal 2 nachten tijdens het weekend van 1 mei (1-3 mei), 8 mei (8-10 mei) en het weekend van pinksteren (23-25 mei).</p>
<p style="text-align: left;">** Accommodatie te huur vanaf 12 juni</p>
<p style="text-align: left;">*** Huisdieren alleen toegestaan in de volgende accommodaties: stacaravan 21m2 en chalet 30m2</p>
<p style="text-align: left;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: left;">In de aangegeven prijzen is inbegrepen:</p>
<ul>
    <li>
        <p style="margin-bottom: 0cm; text-align: left;">verblijf van een week van zaterdag t/m zaterdag (of van zondag t/m zondag&nbsp;<span style="line-height: 1.3;">afhankelijk van de beschikbaarheid) voor aantal personen aangegeven in de prijslijst</span></p>
    </li>
    <li style="text-align: left;">
        <p style="margin-bottom: 0cm;">parkeerruimte voor uw vervoermiddel</p>
    </li>
    <li style="text-align: left;">
        <p style="margin-bottom: 0cm;">deken en kussen (let op, laken en kussenslopen zijn niet bijgeleverd)</p>
    </li>
</ul>
<p style="margin-bottom: 0cm; text-align: left;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: left;">Wij hanteren de volgende aankomst- en vertrektijden:</p>
<p style="margin-bottom: 0cm; text-align: left;">Aankomst tussen 15:00 en 19:00 (indien u vertraagd bent, horen wij dit graag van u).</p>
<p style="margin-bottom: 0cm; text-align: left;">Vertrek tussen 8:00 en 10:00.</p>
<p style="margin-bottom: 0cm; text-align: left;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: left;"><span style="font-family: verdana,geneva,sans-serif;">Boekingsvoorwaarden:</span></p>
<ul>
    <li style="text-align: left;">
        <p style="margin-bottom: 0cm;">administratie toeslag: 17€ per verblijf</p>
    </li>
    <li style="text-align: left;">
        <p style="margin-bottom: 0cm;">U wordt vriendelijk verzocht om een aanbetaling van 30% te doen bij reservering van een verblijf langer dan een week, en 50% aanbetaling bij een reservering van een verblijf korter dan een week.</p>
    </li>
    <li style="text-align: left;">
        <p class="p1">optionele annuleringsverzekering: 12€ per week.&nbsp;<strong>Geen annuleringsgarantie op speciale aanbiedingen.</strong></p>
    </li>
    <li style="text-align: left;">
        <p class="p1"><span style="line-height: 16.6399993896484px;">een borg van 250€ voor week accommodaties en 50€ voor accommodaties per nacht zal u gevraagd worden te storten voor eventuele schade en schoonmaak incidenten&nbsp;</span></p>
    </li>
</ul>
<p><a name="tarifsPitches" id="tarifsPitches"></a>&nbsp;</p>
<p style="text-align: left;"><strong style="line-height: 16.6399993896484px; text-align: left;">Plaatstarieven per&nbsp;nacht in euro</strong></p>
<p style="text-align: left;"><strong style="line-height: 16.6399993896484px; text-align: left;"><br /></strong></p>
<p style="text-align: left;">Vrije keuze voor datum van aankomst, lengte van uw verblijf en geen minimum aantal nachten vereist.</p>
<p style="margin-bottom: 0cm; text-align: left;">&nbsp;</p>
<table style="width: 740px; height: 293px;" border="0" cellpadding="2" cellspacing="1">
    <tbody>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p>&nbsp;</p>
            <p><span style="font-size: 8pt;"><strong style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; text-align: start; background-color: #463c6e;">Plaats &nbsp;/ Periode</strong></span></p>
            <p><span style="font-size: 8pt;"><em>aankomst na 15:00 - vertrek voor 12:00</em></span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;">
            <p>&nbsp;</p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt; color: #000000;">25/04-26/06</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt; color: #000000;">29/08-30/09</span></p>
            <p>&nbsp;</p>
        </td>
        <td style="text-align: center; background-color: #fef271;">
            <p>&nbsp;</p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt; color: #000000;">27/06-03/07</span></p>
            <p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal;"><span style="font-size: 8pt; color: #000000;">22/08-28/08</span></p>
            <p>&nbsp;</p>
        </td>
        <td style="text-align: center; background-color: #fef271;" rowspan="2">
            <p><span style="font-size: 8pt; text-align: start; color: #000000;">04/07-10/07</span></p>
            <p><span style="color: #000000;"><span style="font-size: 8pt; text-align: start;">15/08-21/08</span></span></p>
        </td>
        <td style="text-align: center; background-color: #fef271;" rowspan="2">
            <p><span style="font-size: 8pt; text-align: start; color: #000000;">11/07-14/08</span></p>
        </td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p>&nbsp;</p>
        </td>
        <td style="text-align: center; background-color: #fef271;" colspan="2">
            <p><span style="color: #000000; font-size: 8pt;">7 = 6 *</span></p>
        </td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p>&nbsp;</p>
            <p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 13.8666677474976px; background-color: #463c6e;">Plaats NATURE *</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">15</span></td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="color: #ffffff; font-size: 8pt;">17</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">19,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;23,50</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p>&nbsp;</p>
            <p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 13.8666677474976px; text-align: start; background-color: #463c6e;">Plaats CONFORT (10A) **</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">19</span></td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="color: #ffffff; font-size: 8pt;">21</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">23,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">27,50&nbsp;</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 13.8666677474976px; text-align: start; background-color: #463c6e;">Plaats RANDONNEUR (Trekker) ***</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">9,50</span></td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="color: #ffffff; font-size: 8pt;">11</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">12,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;15</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p><span style="line-height: 13.8666677474976px; font-size: 8pt;">Extra persoon</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">3,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;3,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;4,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;6</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 13.8666677474976px; text-align: start; background-color: #463c6e;">Kinderen (onder de 6 jaar)</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">2,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">2,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">3,50</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;4,50</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 13.8666677474976px; text-align: start; background-color: #463c6e;">Kinderen (onder de 3 jaar)</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">free</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">free</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">free</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">free&nbsp;</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 13.8666677474976px; text-align: start; background-color: #463c6e;">Huisdier (onder de 15kg, aangelijnd)</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">3 €</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">3 €</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">3</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;4</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p><span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; line-height: 13.8666677474976px; text-align: start; background-color: #463c6e;">Bezoeker (inschrijven bij de receptie)</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">3</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">5</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">6</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">&nbsp;6</span></td>
    </tr>
    <tr>
        <td style="text-align: left; background-color: #463c6e;" class="tab-emplacements-firstcolumn">
            <p><span style="line-height: 13.8666677474976px;">Koelkast verhuur</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="color: #ffffff; font-size: 8pt;">6</span></td>
        <td style="text-align: center; background-color: #463c6e;">
            <p><span style="color: #ffffff; font-size: 8pt;">6</span></p>
        </td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">6</span></td>
        <td style="text-align: center; background-color: #463c6e;"><span style="font-size: 8pt; color: #ffffff;">6&nbsp;</span></td>
    </tr>
    </tbody>
</table>
<p style="margin-bottom: 0cm; text-align: left;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: left;">* plaats voor 2 personen / 1 auto (extra auto € 2,50) / 1 tent / caravan of camper&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: left;">** plaats nature met electriciteit</p>
<p style="margin-bottom: 0cm; text-align: left;">*** 1 persoons trekkersplaats voor een wandelaar of fietser / 1 tent</p>
<p style="margin-bottom: 0cm; text-align: left;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: left;">(1) - 5th persoon = extra persoon</p>
<p style="margin-bottom: 0cm; text-align: left;">(2) - 5th and 6th persoon&nbsp;<span style="font-size: 12.8000001907349px; line-height: 16.6399993896484px;">= extra persoon</span></p>
<p style="margin-bottom: 0cm; text-align: left;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: left;">Boekingsvoorwaarden:</p>
<ul style="text-align: left;">
    <li>
        <p style="margin-bottom: 0cm;">30% aanbetaling bij het boeken</p>
    </li>
    <li>
        <p style="margin-bottom: 0cm;">optionele annuleringsverzekering: 15€ per week</p>
    </li>
</ul>