<p style="margin-bottom: 0cm; text-align: justify;"><span style="font-size: 16px;"><span style="font-family: verdana,geneva,sans-serif;">Camping Epi bleu biedt u de volgende voorzieningen: 5 bungalow tenten, 3 rapid homes (één daarvan met wasbak en toilet), 6 chalets voor 4 personen, 6 chalets voor 5 personen en 2 chalets voor 5/6 personen (één daarvan is geschikt voor minder valide personen). Ook hebben wij 9 stacaravans voor 4 personen (21 to 24m2), 11 stacaravans voor 4/6 personen (26 to 29m2), 2 paviljoens volledig ingericht (TV) voor 6/7 personen en 2 niet gebruikelijke voorzieningen: robinson hut op palen voor 4 personen die van de natuur houden.<br /></span></span></p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<table style="width: 725px;" border="0" cellpadding="2" cellspacing="6">
    <tbody>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="margin-bottom: 0cm; text-align: left;"><span style="font-size: 12pt; font-family: verdana,geneva,sans-serif;">Canvas bungalowtent, «&nbsp;bengali&nbsp;»: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;16 m2, 2 kamers, 4-5 personen</span></h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 slaapkamer met 1 tweepersoonsbed (140*190)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 slaapkamer met keuze uit: 2 eenpersoonsbedden (70*190)&nbsp;</span></span><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt; line-height: 1.3; text-align: center;">of 3 eenpersoonsbedden of 2 stapelbedden</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compacte keuken (koelkast, servies kastjes, gasfornuis)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">terras aan voorzijde<br /></span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">Deze accomodatie beschikt niet over een badkamer en toilet.</span></span></p>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/bungalow_n.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_bungalow{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="margin-bottom: 0cm; text-align: left;"><span style="font-size: 12pt; font-family: verdana,geneva,sans-serif;">Rapid home: 20 m2, 2 kamers</span><span style="font-family: verdana, geneva, sans-serif; font-size: 12pt; line-height: 1.3;">4-5 personen</span></h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 1 tweepersoonsbed&nbsp;</span></span></span><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">(140*190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met keuze uit: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2 eenpersoonsbedden</span>&nbsp;(70*190) + uitschuifbed (alleen in de rapid-home met sanitair) of 2 stapelbedden</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;"><span style="font-size: 10pt;">compacte keuken (koelkast, servies kastjes, gasfornuis)</span></span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">terras aan voorzijde</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">We hebben 3 Rapid Homes, één daarvan met toilet en wastafel.</span></span></p>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/rapid_home.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_rapid_home{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;">Flower home: 37 m2, 2 kamers, 5 personen</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">1 kamer met 2 persoonsbed 140x190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">1 kamer met 3 eenpersoonsbedden waarvan 1 stapelbed (70x190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">1 ruimte voorzien van hoek keuken gericht op het grote terras<span lang="fr-FR"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">gaspitten,&nbsp;gootsteen, magnetron, koffiezetapparaat, keukengerei, tafel, stoelen, ligstoelen, hangmat en opbergruimte</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;">geen water en sanitaire voorziening aanwezig</span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/flower-home.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_flower_home{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Stacaravan 21m2 + 9m2 terras, 2 kamers, 4-5 personen</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 1 tweepersoonsbed&nbsp;</span></span></span><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">(140*190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 2 eenpersoonsbedden&nbsp;</span></span><span style="font-family: verdana,geneva,sans-serif;">(70*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compacte keuken (koelkast, servies kastjes, gasformuis)</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span face="verdana, geneva, sans-serif" style="font-family: verdana, geneva, sans-serif;"><span style="font-size: 13px;">eet gedeelte</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">badkamer (wastafel + douche) en apart toilet</span><span style="font-family: verdana,geneva,sans-serif;"></span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">overdekt terras van 9 m2, voortuin met 2 ligstoelen en stapelstoelen</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/mobil_home_t1.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_mh_type1{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Stacaravan 26m2 + 9m2 terras, 2 kamers, 4-6 personen</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 1 tweepersoonsbed&nbsp;</span>(140*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 2 eenpersoonsbedden</span>&nbsp;(80*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">bedbank voor 2 extra personen indien nodig</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compacte keuken (koelkast, servies kastjes, gasfornuis, magnetron)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span face="verdana, geneva, sans-serif" style="font-family: verdana, geneva, sans-serif;"><span style="font-size: 13px;">eet gedeelte</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">badkamer (wastafel + douche) en apart toilet</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">overdekt terras van 9 m2, voortuin met 2 ligstoelen en stapelstoelen</span></span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/mobil_home_t2_new.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_mh_type2{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Stacaravan 32m2, 3 kamers, 6 personen</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 1 tweepersoonsbed&nbsp;</span>(140*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">2&nbsp;<span style="font-size: 10pt;">slaapkamers met 2 eenpersoonsbedden&nbsp;</span>(80*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">bedbank voor 2 extra personen indien nodig</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">compacte keuken (koelkast, servies kastjes, gasfornuis, magnetron)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 13px; font-family: verdana, geneva, sans-serif;">eet gedeelte</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">badkamer (wastafel + douche) en apart toilet</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">overdekt terras van 9 m2, voortuin met 2 ligstoelen en stapelstoelen</span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/mobil_home_32m2_front.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_mh_32m2{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Chalet 30m2 + overdekt terras, 2 kamers, 4 personen</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 1 tweepersoonsbed&nbsp;</span>(140*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 2 eenpersoonsbedden</span>&nbsp;(70*190)</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">compacte keuken (koelkast, servies kastjes, gasfornuis, magnetron)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 13px;">eet gedeelte</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">badkamer (wastafel + douche) en apart toilet</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">overdekt terras van 9 m2, voortuin met 2 ligstoelen en stapelstoelen</span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/chalet_type_1.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_chalet_type1{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Chalet 35m incl. 9m2 terras, 2 kamers, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5 personen<span style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 1.3; text-align: center;">&nbsp;</span></h4>
                        <ul style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; text-align: -webkit-left; list-style-type: square;">
                            <li style="line-height: normal;"><span style="font-size: 10pt;"><span style="font-family: verdana, geneva, sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 1 tweepersoonsbed&nbsp;</span>(140*190), 1 kamer met 2 stapelbedden (80*190) en 1 eenpersoonsbed</span></span></li>
                            <li style="line-height: normal;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">compacte keuken (koelkast, servies kastjes, gasfornuis, magnetron)</span></li>
                            <li style="line-height: normal;"><span style="font-family: verdana, geneva, sans-serif; font-size: 13px;">eet gedeelte</span></li>
                            <li style="line-height: normal;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">badkamer (wastafel + douche) en apart toilet</span></li>
                            <li style="line-height: normal;"><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt; text-align: center; line-height: 1.3;">overdekt terras van 9 m2, voortuin met 2 ligstoelen</span><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt; text-align: center; line-height: 14.3000001907349px;">&nbsp;en stapelstoelen</span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/chalet_35m2_5p_s.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_chalet_35m2_5p{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Chalet 35m2 incl. terras, 2 kamers, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5-6 personen</h4>
                        <ul style="list-style-type: square;">
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">2&nbsp;<span style="font-size: 10pt;">slaapkamers met 1 tweepersoonsbed&nbsp;</span><br />&nbsp;(140*190) en 2 stapelbedden (80*190)</span></span></li>
                            <li><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">compacte keuken (koelkast, servies kastjes, gasfornuis, magnetron)</span></li>
                            <li><span style="font-family: verdana, geneva, sans-serif; font-size: 13px;">eet gedeelte</span></li>
                            <li><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">badkamer (wastafel + douche) en apart toilet</span></li>
                            <li><span style="font-family: verdana, geneva, sans-serif; font-size: 10pt;">overdekt terras van 9 m2, voortuin met 2 ligstoelen en stapelstoelen</span></li>
                        </ul>
                        <p style="margin-bottom: 0cm;">&nbsp;</p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/chalet_type_3n.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_chalet_type3{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-bottom-style: dashed; border-color: white; border-width: 1px;" cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Robinson hut 32m2 incl. 10m2 terras, &nbsp; &nbsp; &nbsp; 2 kamers, 4 personen</h4>
                        <ul style="list-style-type: square;">
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">1&nbsp;<span style="font-size: 10pt;">slaapkamer met 1 tweepersoonsbed&nbsp;</span>(140*190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">1 kamer met 2 eenpersoonsbedden (80*190)</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">compacte keuken (koelkast, servies kastjes, gasfornuis, magnetron)</span></li>
                            <li style="margin-bottom: 0cm;"><span face="verdana, geneva, sans-serif" style="font-family: verdana, geneva, sans-serif;"><span style="font-size: 13px;">eet gedeelte</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; color: rouge; font-family: verdana,geneva,sans-serif;"><strong><span style="font-size: 12pt;">Badkamer (douche) en toilet</span></strong></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">overdekt terras van 9 m2, voortuin met 2 ligstoelen en stapelstoelen<br /></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif; color: #cf0000;">huisdieren zijn niet toegestaan</span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt; font-family: verdana,geneva,sans-serif;">mogelijkheid om buiten het hoogseizoen apart te boeken (met een minimum van 3 nachten)</span></li>
                        </ul>
                        <p>&nbsp;</p>
                        <p style="text-align: center;"><span style="color: #ffffff;">Accomodatie is gemaakt van zeer dik en stijf zeildoek. De compartimenten zijn gescheiden door hetzelfde doek, waardoor een dubbelwandig systeem ontstaat voor een goede isolatie.<br /></span></p>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right" valign="top">
                        <p>&nbsp;</p>
                        <p>{gallery width=280 height=220}locations/lodge_robinson_side_s.jpg{/gallery}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_lodge_robinson{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <p style="margin-bottom: 0cm;">
            <table cellpadding="2">
                <tbody>
                <tr>
                    <td style="width: 400px;" align="left">
                        <h4 style="font-size: 12pt; font-family: verdana,geneva,sans-serif;" span="span">Paviljoen 50m2 incl. terras, 3 kamers, &nbsp; &nbsp; &nbsp;6-7 personen</h4>
                        <br />
                        <ul style="list-style-type: square;">
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">2&nbsp;<span style="font-size: 10pt;">slaapkamers met 1 tweepersoonsbed&nbsp;</span>(140*190)</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">1 kamer met 1 eenpersoonsbed (90*190)</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">bedbank voor 2 extra personen</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">compacte keuken (koelkastm servies kastjes, gasfornuis, magnetron)</span></span></li>
                            <li><span face="verdana, geneva, sans-serif" style="font-family: verdana, geneva, sans-serif;"><span style="font-size: 13px;">eet gedeelte</span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">badkamer (wastafel + douche) en apart toilet<br /></span></span></li>
                            <li><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;">overdekt terras, voortuin met 2 ligstoelen en stapelstoelen</span></span></li>
                            <li style="margin-bottom: 0cm;"><span style="font-size: 10pt;"><span style="font-family: verdana,geneva,sans-serif;"><strong><span style="font-size: 12pt;">TV</span></strong><br /></span></span></li>
                        </ul>
                    </td>
                    <td style="width: 350px; text-align: right;" align="right">{gallery width=280 height=220}locations/gite_new.jpg{/gallery}</td>
                </tr>
                <tr>
                    <td colspan="2" align="left">
                        <table style="width: 725px;">
                            <tbody>
                            <tr>
                                <td>{gallery width=126 height=99}locations_pavillon{/gallery}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            </p>
        </td>
    </tr>
    <tr>
        <td style="width: 725px; padding: 10px;" colspan="2" align="left">
            <p style="margin-bottom: 0cm;">&nbsp;</p>
            <h4 style="margin-bottom: 0cm; text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;">Inventaris:</span></span></h4>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;">Keuken: </span><span style="font-family: verdana,geneva,sans-serif;"><strong>Servies en bestek</strong></span></span><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><span style="font-size: 10pt;"> &gt; platte borden (6), diepe borden (6) dessert borden (6), bekers (6), kommen (6), slakom met 2 lange lepels (1), groot rond bord (1), ovaal bord (1), glazen (8) vorken (6), lepels (6), theelepeltjes (6), messen (6), pan 14 cm (1), pan 16 cm (1), pan 18cm (1), kookpan (1), koekepan (1), Vergiet (1)</span><span style="font-size: 10pt;"><span style="font-size: 12pt;"><strong> Keuken artikelen </strong></span>&gt; pollepel (1), schuimspaan (1), houten spatel (1), houten lepel (1), aardappelschiller (1), rasp (1), kurkentrekker (1), blikopener (1), sla centrifuge (1)<br /></span></span></span></p>
            <p>&nbsp;</p>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;">Huishoudelijke artikelen: <span style="font-size: 10pt;">magnetron (behalve bij de eerste 3 accommodatie types), bestekbak (1), prullenbak (1), kledinghanger (5), droogrek (1), bezem (1), vloerwisser (1), stoffer en blik (1), emmer (1), toiletbenodigdheden (1), dweil (1)</span><br /></span></span></p>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;"><br /></span></span></p>
            <p style="text-align: left;"><span style="font-size: 12pt;"><span style="font-family: verdana,geneva,sans-serif;">Buiten: <span style="font-size: 10pt;">tafel (1), stoelen (4 of 6), ligstoel (2)</span><br /></span></span></p>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <p>&nbsp;</p>
            <p style="text-align: center;"><a style="font-size: 18px;" target="_self" href="/nl/tarieven">Accommodatie tarieven</a>&nbsp;/ <a style="font-size: 18px;" target="_self" href="/nl/welkom/kaart-van-de-camping">Camping plattegrond</a></p>
        </td>
    </tr>
    </tbody>
</table>