<p><span style="font-size: 10pt;"><br /></span></p>
<p><span style="font-size: 10pt;">Stéphane et Florence <span style="font-size: 12pt;"><strong>verwelkomen u graag voor het</strong></span> seizoen 2015 </span></p>
<p><strong><span style="font-size: 12pt;">op camping l'épi bleu van </span></strong><span style="color: #ffff87;"><strong style="font-size: 12pt; line-height: 1.3;">25 april tot 30 september</strong></span><span style="font-size: 12pt; line-height: 1.3;">.</span></p>
<p><span style="font-size: 10pt;"><br /></span></p>
<p><span style="font-size: 10pt;">In het hart van de Provence, bij de poort van Luberon, tussen Mont Ventoux en de berg van Lure, gelegen aan de voet van het dorp Banon, vind u "CAMPING L'EPI BLEU". De plek waar het geitenkaas in kastanje blad wordt verwikkeld en de bibliotheek Bleuet uw aandacht gaan trekken.</span></p>
<p>&nbsp;</p>
<p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; text-align: start;"><span style="font-size: 10pt;">Op een hoogte van 750 meter, gelegen in een gebied rijk aan eiken bomen omringd door lavendel, kunt u genieten van zonnige dagen en frisse avonden. Kom met uw familie en vrienden het land van Forcalquier gelegen onder de zuiver blauwe hemel ontdekken, voor welke Jean Giono warme gevoelens koesterde.</span></p>
<p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; text-align: start;"><span style="font-size: 10pt;"><br /></span></p>
<p style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: normal; text-align: start;"><span style="font-size: 10pt;">Kom om te ontspannen in een omgeving badend in bedwelmend licht, rijke okerkleurige landschappen, de geur van de Provence en lokale tradities. Een plaats van geluk voor mensen die houden van deze wilde natuur, de geur van lavendel en voel je gesust door het zingen van de krekels.</span></p>
<p>&nbsp;</p>
<p><span style="font-size: 10pt;"><span style="font-size: 12pt;"><strong>VERWARMD ZWEMBAD</strong></span> van <span style="color: #ffff87; font-size: 12pt;"><strong>15 mei tot 15 September </strong></span>!</span></p>
<p><span style="font-size: 12.8000001907349px; line-height: 1.3;">&nbsp;</span><span style="font-size: 12.8000001907349px; line-height: 1.3;">&nbsp;</span></p>
<div style="font-size: 14px; font-family: verdana, geneva, sans-serif; border-style: solid; border-width: 1px; padding: 1px;">
    <table style="width: 730px; text-align: center;">
        <tbody>
        <tr>
            <td style="width: 55%;"><img src="images/ceb/mister-flower-1-s.jpg" height="125" alt="mister-flower-1" />&nbsp; <img src="images/ceb/mister-flower-2-s.jpg" height="125" alt="mister-flower-2" /></td>
            <td>
                <p style="text-align: center;">In het seizoen 2015,</p>
                <p style="text-align: center;">zal <strong>Mister Flower, </strong></p>
                <p style="text-align: center;"><strong></strong>de mascotte van Epi Bleu kinderen vermaken.</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
<table style="width: 730px; text-align: left;">
    <tbody>
    <tr>
        <td align="left">
            <table align="left">
                <tbody>
                <tr>
                    <td>
                        <div style="width: 650px; height: 504px;"><a href="http://www.toocamp.com/location-camping-banon/camping-lepi-bleu-c31322.html">Camping l'Epi Bleu 3 *</a>
                            <script src="http://www.toocamp.com/js/widget-video-avis-1-31322.js" type="text/javascript"></script>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<div style="font-size: 16px; font-family: verdana, geneva, sans-serif; border-style: dashed; border-color: #ffff87; border-width: 2px; padding: 5px;">
    <table>
        <tbody>
        <tr>
            <td><strong>L'épi bleu verwelkomt groepen in het voor- en naseizoen</strong>
                <ul>
                    <li>mogelijkheid tot hotel service (lakens en handdoeken bijgeleverd)</li>
                    <li>mogelijkheid tot vol pension, half pension of uitsluitend ontbijt</li>
                    <li>mogelijkheid tot een avondje vermaak (karaoke of dansavond)</li>
                    <li>mogelijkheid tot huur van de zaal (in de avond)</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>